
<% include partials/headers %>

<h2> This is the show page template </h2>

<p>
    <%= campground.name %>
</p>
<img src="<%= campground.image%>">

<p>
    <%= campground.description %>
</p>

<% include partials/footer %>
